<h1>Library Members</h1>
<hr>
<p id="notice"><%= notice %></p>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>E-Mail Address</th>
    <TH>Checkout History</TH>
    <th>Delete</th>
  </tr>
  </thead>

  <tbody>
  <% @library_members.each do |member| %>
      <tr>
            <td><%= member.name %></td>
            <td><%= member.email %></td>
            <td><%= link_to 'Checkout History', member_history_path(member) %></td>
            <td><%= link_to 'Delete Member', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>