<h1>Book Details: </h1>

<p>
  <strong>ISBN:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Author(s):</strong>
  <%= @book.authors %>
</p>

<p>
  <strong>Status:</strong>
  <% if @book.checked_out %>
     <%= "Checked Out"%>
     <% if admin_logged_in? || @book.checkout_histories.last && @book.checkout_histories.last.library_member_id == current_library_member.id %>
           <%= "by "+@book.checkout_histories.last.library_member.name if admin_logged_in?%>
          <%= button_to "Return Book", book_return_path(@book),:class => 'btn btn-primary', :method => 'get' %>
     <% end  %>

  <% else %>
      <%= "Available"%> </p>
      <% if admin_logged_in? %>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <%= form_for(:library_member, url: book_admin_checkout_path(@book)) do |f| %>
                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control',required:true %>
                <%= f.submit "Check-out for a user", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      <% else %>
      <%= button_to "Check-Out", book_checkout_path(@book),:class => 'btn btn-primary', :method => 'get' %>
      <% end %>
  <% end %>
<br><br>
  <div class="btn-group" role="group" aria-label="...">
<%= button_to 'Back', books_path,:class => 'btn btn-default',method: :get %>
<%= button_to 'Edit', edit_book_path(@book),:class => 'btn btn-default',method: :get %>
  </div>