<h1>Check-out history for <%= @member.name %> </h1>
<table class ="table table-bordered">
  <tr>
    <th>Book Title</th>
    <th>Authors</th>
    <th>Issue-Date</th>
    <th>Return-Date</th>
  </tr>

  <% @histories.each do |entry| %>
      <tr>
        <td><%= link_to entry.book.title, book_path(entry.book) %></td>
        <td><%= entry.book.authors %></td>
        <td><%= entry.issue_date %></td>
        <td><%= entry.return_date %></td>
      </tr>
  <% end %>
</table>