<h1>Check-out history for <%= @book.title%> </h1>
<table class ="table table-bordered">
  <tr>
    <th>Member ID</th>
    <th>Member Name</th>
    <th>Issue-Date</th>
    <th>Return-Date</th>
  </tr>

  <% @histories.each do |entry| %>
      <tr>
        <td><%= entry.library_member.id %></td>
        <td><%= entry.library_member.name %></td>
        <td><%= entry.issue_date %></td>
        <td><%= entry.return_date %></td>
      </tr>
  <% end %>
</table>