<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Library App", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if member_logged_in? %>
            <li><%= link_to "Home",   library_members_home_path %></li>
		    <li><%= link_to "Log out", logout_path, method: "delete" %></li>
        <% elsif admin_logged_in? %>
                <li><%= link_to "Home",   admin_index_path %></li>
                <li><%= link_to "Log out", logout_path, method: "delete" %></li>
        <% else %>
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Admin Log in", admin_login_path %></li>
		    <li><%= link_to "Member Log in", member_login_path %></li>
        <% end %>
      </ul>
      <% if member_logged_in? %>'
          <ul class="nav navbar-nav navbar-left">
            <li><%= link_to "Search",   books_path %></li>
            <li><%= link_to "Self Checkout History", member_history_path(current_library_member)%></li>
          </ul>
      <% end %>
    </nav>
  </div>
</header>